page-feed {

    .item-ios h2 {
        margin: 0 0 2px;
        font-size: 1.7rem;
        font-weight: bold;
        color: red;
        /* font-weight: bold; */
    }
    .item-ios p {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: green;
        margin: 0 0 2px;
      }
}
